#amenities {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
    z-index: 1;

    header {
        grid-column: 3;
        grid-row: 1;

        h2 {
            font-size: 4rem;
            color: #979191;
            
            &::first-line {
                color: $price-font-color;
                text-shadow: 2px 2px $footer-hover-color;
            }
        }
    }
    a #awards {
        grid-column: 3;
        grid-row: 2 / span 2;
        margin: 3rem 0;

        img {
            height: 16rem;
            width: 16rem;
        }
    }

    ul {
        padding: 0;
        grid-column: 1;
        grid-row: 1 / span 3;
        list-style: none;
    }

    li.feature img {
        width: 41rem;
        height: inherit;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        ul.secondpic img {
            height: inherit;
            width: 13rem;
        }

        ul.thirdpic img {
            height: inherit;
            width: 13rem;
        }
    }

    li.feature div > canvas {
        width: 41rem;
        height: inherit;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    li.otherpic ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        li.firstAmenityItem img {
            border-bottom-left-radius: 1rem;
        }

        li.lastAmenityItem {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            justify-items: center;

            img {
                grid-column: 1;
                grid-row: 1 / span 3;
                border-bottom-right-radius: 1rem;
            }

            a {
                grid-column: 1;
                grid-row: 2;
                border-bottom-right-radius: 1rem;
                color: $promote-border-color;
                padding: 0.6rem;
                z-index: 2;
            }
        }
    }

    img {
        height: 8rem;
        transition: 300ms opacity;
        &.amenityselection:hover {
            opacity: 0.5;
        }

        &.display {
            height: 50%;
            width: 100%;
        }
    }    
}

.popover {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;

}
  
.popover-title {
    font-size: 16px;
    font-weight: bold;
}
  
.popover-content {
    background-color: #fff;
    padding: 0.8rem;
    header {
        display: flex;
        justify-content: space-between;
    }
    img {
        &.display {
            height: 50%;
            width: 100%;
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0505057c;
    z-index: 1;
}
