@import "nav";

@import "aboutme";

#promote {
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.homestayreview {
    width: 18rem;
    box-sizing: border-box;
    border-style: none;
    border-radius: 0.8rem;
    box-shadow: 0px 3px 9px 0px #8888;
    z-index: 1;
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: $trans-base-bg-color;
    padding: 0.6rem;
    margin: 1rem;
}

.homestayreview header h4 {
    font-size: 1.1rem;
    margin: 0.4rem 0;
    text-align:justify;
}

.homestayreview header h4 aside {
    display: inline;
    font-size: 0.7rem;
}

.homestayreview header blockquote {
    margin: 0.4rem 0;
}

.homestayreview header blockquote aside {
    margin: 0.4rem 0;
    display: inline;
    color: black;
    font-weight: 700;
    font-size: 1.4rem;
}

.homestayreview img {
    float: left;
    width: 4rem;
    margin-right: 0.5rem;
    box-sizing: border-box;
    border-style: none;
    border-radius: 1rem;
}

#promote img.backgroundimg, div.backgroundimg {
    width: 36rem;
    box-sizing: border-box;
    border-style: none;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-width: 1rem;
    border-color: rgb(250, 243, 243);
    border-style: solid;
    box-shadow: 0px 3px 9px 0px #8888;
    /* transform: rotate(2deg); */
    grid-column: 1 / span 8;
    grid-row: 1 / span 3;
    z-index: -1;
}

div.backgroundimg > canvas {
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

#promote span {
    width: 10rem;
    box-sizing: border-box;
    border-style: none;
    background-color: var(--base-bg-color)
}

#promotelogo {
    grid-column: 6 / span 2 ;
    grid-row: 3;
    text-align: center;
    width: 7.2rem;
    transform: rotate(2deg);
}
