// font colors
$base-font-color: #9b9999;
$default-font-color: #181818;
$footer-hover-color: #facd08;

// background colors
$base-bg-color: #fcf4ee;
$trans-base-bg-color: #fcf4eee5;
$video-bg-color: #161616;
$modal-bg-color: #161616e3;

// border colors
$base-border-color: #cfcdcd;
$promote-border-color: #faf3f3;
$base-shadow-color: #88888888;

// border radius
$promote-border-radius: 5rem;

// font sizes
$base-font-size: 0.8rem;
$nav-font-size: 0.7rem;
$title-font-size: 2.7rem;
$price-font-size: 2rem;

// font weights
$desc-font-weights: 500;
$highlight-font-weights: 600;
