#amenities {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: 4fr 0.5fr 5fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

#amenities header {
    grid-column: 3;
    grid-row: 1;
}

#amenities a#awards {
    grid-column: 3;
    grid-row: 2 / span 2;
    margin: 3rem 0;
}

#amenities a#awards img {
    height: 16rem;
    width: 16rem;
}

#amenities ul {
    /* width: 41rem; */
    padding: 0;
    grid-column: 1;
    grid-row: 1 / span 3;
    list-style: none;
}

#amenities li.feature img, #amenities li.feature div > canvas {
    width: 41rem;
    height: inherit;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#amenities li.otherpic ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#amenities li.otherpic ul li.firstAmenityItem img {
    border-bottom-left-radius: 1rem;
}

#amenities li.otherpic ul li.lastAmenityItem {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

#amenities li.otherpic ul li.lastAmenityItem img {
    grid-column: 1;
    grid-row: 1 / span 3;
    border-bottom-right-radius: 1rem;
}
#amenities li.otherpic ul li.lastAmenityItem a {
    grid-column: 1;
    grid-row: 2;
    border-bottom-right-radius: 1rem;
    color: var(--base-bg-color);
    padding: 0.6rem;
    z-index: 1;
}

#amenities li.feature ul .secondpic img, #amenities li.feature ul .thirdpic img {
    height: inherit;
    width: 13rem;
}

#amenities img {
    height: 8rem;
    transition: 300ms opacity;
    margin: 0 0.1rem;
}

#amenities img.amenityselection:hover {
    opacity: 0.5;
}

#amenitiesPage {
    grid-column: 1 / span 4;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    display: grid;
    grid-template-rows: 1fr;
    margin: 10rem 0;
}

#amenitiesPage ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#amenitiesPage header {
    grid-column: 3;
    text-align: right;
}

#amenitiesPage header a {
    padding: 1rem 0;
}

#amenitiesPage header a:hover {
    color: var(--base-bg-color);
}

#amenitiesPage li {
    padding: 0 0.1rem;
}

#amenitiesPage img {
    width: 40rem;
}

#firstAmenities {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#firstAmenities li:first-child > img {
    border-top-left-radius: 5rem;
}

#firstAmenities li:last-child > img {
    border-bottom-left-radius: 5rem;
}

#secondAmenities {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#secondAmenities li:first-child > img {
    border-top-right-radius: 5rem;
}

#secondAmenities li:last-child > img {
    border-bottom-right-radius: 5rem;
}
