#travelpartner {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    /* justify-items: center; */
    margin: 5rem 0;
}

#travelpartner header a {
    grid-column: 1;
    grid-row: 1;
    font-weight: 500;
    color: var(--base-color);
}

#travelpartner ul {
    grid-column: 3 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
}

#travelpartner ul li {
    list-style: none;    
    align-items: center;
    justify-items: center;
}

img.qrcode {
    grid-column: 2;
    width: 1rem;
    color: var(--base-color);
}

#travelpartner ul li a.mainroom{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

#travelpartner ul li a.mainroom > img.bookingLogo {
    grid-column: 1;
    grid-row: 1;
    width: 6rem;
    grid-column: 1;
}

#travelpartner ul li a.secondary {
    text-decoration: none;
    color: var(--base-bg-color);
    font-weight: 600;
    font-size: 0.6rem;
    grid-column: 2;
}

#travelpartner ul li a.secondary > img {
    grid-column: 2;
    grid-row: 1;
    width: 4rem;
}

#travelpartner ul li h6 {
    box-sizing: border-box;
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.2rem;
    border-color: rgb(255, 67, 67);;
    padding: 0.1rem;
    background-color: rgb(255, 67, 67);
    text-align: center;
    font-size: .6rem;
    font-weight: 400;
    color: var(--base-bg-color);
    margin: 0 1rem 0.4rem 0;
    grid-column: 2;
}
