#destination {
    box-shadow: 0px 10px 10px 0px #8888;
    background: rgb(252, 244, 238) url(../../src/assets/vecteezy_blue-watercolor-stain-watercolor-background_21971438_505.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin-top: 6rem;
    padding: 6rem 0;
}

#destination header {
    grid-column: 2 / span 3;
}

#destination ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-column: 1 / span 5;
    grid-row: 2;
}

#destination ul li {
    margin: 1rem;
    
}

#destination ul li address dl {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    border-radius: 1rem;
}

#destination ul li address dl dt {
    display: none;
}

#destination ul li address dl dd {
    font-style: normal;
    margin: 0;
    width: 27rem;
}

#destination ul li address dl dd p.videos {
    color: #181818;
    margin: 1rem;
}

#destination ul li address dl dd iframe {
    border-radius: 1rem;;
    width: 27rem;
    height: 15.2rem;
}

#destination ul li address dl dd section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

#destination ul li address dl dd section > img.videothumbnail {
    border-radius: 1rem;
    width: 27rem;
    height: 15.2rem;
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}

#destination ul li address dl dd section > a {
    z-index: 2;
    grid-column: 2;
    grid-row: 2;
}

#destination ul li address dl dd section > a img.playicon {
    width: 5rem;
    opacity: 0.8;
}
