#aboutus {
    background-color: #181818;
    color: var(--base-color);
    padding: 3rem 0;
}

#aboutus header {
    grid-column: 2;
}

#aboutus a:hover {
    color: #facd08;
}

#aboutus header p {
    text-align: left;
    margin-bottom: 2rem;
}

#aboutus address {
    grid-column: 4;
    font-style: normal;
    display: flex;
}

#aboutus address dl {
    margin: 0 1rem 0 0;
}

#aboutus address dd {
    margin: 0;
}

#aboutus address dd ul {
    list-style: none;
    line-height: 1.4rem;
    padding: 0;
}

#aboutus a {
    color: var(--base-color);
}

#aboutus ul#qrCodes {
    grid-column: 2 / span 3;
    grid-row: 2;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

#aboutus ul#qrCodes li {
    padding: 0 1rem;
}

#aboutus ul#qrCodes li>svg, #aboutus ul#qrCodes li>img {
    height: 4rem;
    width: 4rem;
}

#aboutus section {
    border-top-style: solid;
    border-width: 1px;
    grid-column: 2 / span 3;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0 ;
    padding: 2rem 0;
    align-items: center;
    font-size: 0.7rem;
}

#aboutus section ul {
    list-style: none;
    display: flex;
}

#aboutus section ul li {
    padding: 0 0 0 1rem;
}

#aboutus #subscribe {
    display: flex;
    font-size: 0.8rem;
    align-items: center;
}

#aboutus #subscribe > label, input {
    padding: 0.8rem;
}

#aboutus #subscribe > input, button {
    margin: 0.6rem;
    border-radius: 0.6rem;
}

#aboutus #subscribe > button {
    padding: 0.3rem 1.2rem;
    font-size: 1rem;
    display: flex;
}