#navigation {
    top: 0;
    text-align: center;
    z-index: 1;
    font-size: 0.7rem;
    font-weight: 600;
    grid-column: 2 / span 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

#navigation img {
    width: 3.1rem;
}

#navigation ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0;
}

#navigation ul li {
    list-style: none;    
}

#aboutme {
    margin: 2rem 0;
    padding-right: 2rem;
}

#aboutme header h1 {
    font-size: 2.7rem;
}

.description {
    font-size: 0.8rem;
    color: var(--base-color);
    font-weight: 500;
}

#promote {
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.homestayreview {
    width: 18rem;
    box-sizing: border-box;
    border-style: none;
    border-radius: 1.2rem;
    box-shadow: 1px 6px 20px;
    z-index: 1;
    grid-column: 1 /span 2;
    grid-row: 2;
    background-color: var(--base-bg-color);
    padding: 1rem;
    margin: 1.1rem 1rem 2rem 1rem;
}

.homestayreview header h4 {
    font-size: 1.1rem;
    margin: 0.4rem 0;
    text-align:justify;
}

.homestayreview header h4 aside {
    display: inline;
    font-size: 0.7rem;
}

.homestayreview header h5 {
    margin: 0.4rem 0;
}

.homestayreview header h5 aside {
    margin: 0.4rem 0;
    display: inline;
    color: black;
    font-weight: 700;
}

.homestayreview img {
    float: left;
    width: 4rem;
    margin-right: 0.5rem;
    box-sizing: border-box;
    border-style: none;
    border-radius: 1rem;
}

#promote img.backgroundimg {
    width: 36rem;
    box-sizing: border-box;
    border-style: none;
    border-radius: 2rem;
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;
}

#promote span {
    width: 10rem;
    box-sizing: border-box;
    border-style: none;
    background-color: var(--base-bg-color)
}

#promotetop {
    border-bottom-right-radius: 2rem;
    grid-column: 1;
    grid-row: 1 / span 2;
}

#promotebottom {
    border-top-left-radius: 2rem;
    grid-column: 4;
    grid-row: 3;
    text-align: center;
}

#promotebottom img {
    width: 7.2rem;
}

/* #promotebottom .chip {
    width: 2.7rem;
    grid-row: 2;
} */
