#navigation {
    background-color: var(--base-bg-color);
    top: 0;
    text-align: center;
    z-index: 2;
    font-size: 0.7rem;
    font-weight: 600;
    grid-column: 2 / span 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

#navigation img {
    width: 6rem;
}

#navigation ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0;
}

#navigation ul li {
    list-style: none;
}

#navigation ul li img {
    width: 1rem; 
}

#navigation ul li em > a {
    color: black;
}


#navigation ul li a {
    color: var(--base-color);
}

#navigation ul li a:hover {
    color: black;
}

#navigation ul li span {
    font-weight: 800; 
    color: #facd08;
}

#aboutme {
    margin: 2rem 0;
    padding-right: 2rem;
}

#aboutme header h1 {
    font-size: 2.7rem;
}

.description {
    font-size: 0.8rem;
    color: var(--base-color);
    font-weight: 500;
}

#promote {
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.homestayreview {
    width: 18rem;
    box-sizing: border-box;
    border-style: none;
    border-radius: 0.8rem;
    box-shadow: 0px 3px 9px 0px #8888;
    z-index: 1;
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: rgb(252 244 238 / 59%);
    padding: 0.6rem;
    margin: 1.1rem 1rem 2rem 1rem;
}

.homestayreview header h4 {
    font-size: 1.1rem;
    margin: 0.4rem 0;
    text-align:justify;
}

.homestayreview header h4 aside {
    display: inline;
    font-size: 0.7rem;
}

.homestayreview header blockquote {
    margin: 0.4rem 0;
}

.homestayreview header blockquote aside {
    margin: 0.4rem 0;
    display: inline;
    color: black;
    font-weight: 700;
    font-size: 1.4rem;
}

.homestayreview img {
    float: left;
    width: 4rem;
    margin-right: 0.5rem;
    box-sizing: border-box;
    border-style: none;
    border-radius: 1rem;
}

#promote img.backgroundimg {
    width: 36rem;
    box-sizing: border-box;
    border-style: none;
    /* border-radius: 2rem; */
    border-width: 1rem;
    border-color: rgb(250, 243, 243);
    border-style: solid;
    box-shadow: 0px 3px 9px 0px #8888;
    transform: rotate(2deg);
    grid-column: 1 / span 8;
    grid-row: 1 / span 3;
    z-index: -1;
}

#promote span {
    width: 10rem;
    box-sizing: border-box;
    border-style: none;
    background-color: var(--base-bg-color)
}

/* #promotetop {
    border-bottom-right-radius: 2rem;
    grid-column: 1;
    grid-row: 1 / span 2;
} */

#promotelogo {
    grid-column: 6 / span 2 ;
    grid-row: 3;
    text-align: center;
    width: 7.2rem;
    transform: rotate(2deg);
}
