#reviews {
    grid-column: 2 / span 2;
    margin: 2rem 0;
    height: 35rem;
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    justify-items: center;
}

#reviews ul {
    grid-column: 2;
    position: relative;
    top: -8rem;
    width: fit-content;
    height: 50rem;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: -1;
}

#reviews ul li {
    border-radius: 0.5rem;
    box-shadow: 0px 3px 9px 0px #8888;
    margin: 1rem;
}

#reviews ul dt {
    display: none;
}

#reviews address {
    width: 18rem;
    font-style: normal;
}

#reviews dd {
    margin: 1rem;
}

#reviews dd.reviewprofile {
    margin: 0 1rem;
}

.comments {
    font-size: 0.8rem;
    color: var(--base-color);
    font-weight: 500;
}
