@media screen and (max-width: 1385px) {
    main {
        grid-template-columns: 0.5fr 2.5fr 2.5fr 0.5fr;
    }

    .fullbleed {
        grid-template-columns: 0.5fr 2fr 0.5fr 3fr 0.5fr;    
    }

    section#amenitiesModal img {
        width: 30rem;
    }

    section#termsandcondition {
        grid-template-columns: 1fr 3fr 1fr;
    }

    section#termsandcondition header {
        grid-column: 2;
    }
    
    section#termsandcondition article {
        grid-column: 2;
    }
}