@media screen and (max-width: 799px) {
    #promote img.backgroundimg {
        width: 30rem; 
    }

    #promotelogo {
        width: 5rem;
    }

    #qrcodes article > section svg {
        width: 10rem;
    }
}