@media screen and (max-width: 535px) {
    .description {
        font-size: 0.8rem;
    }

    #promote {
        display: none;
        /* margin: 4rem 0; */
    }

    /* .homestayreview {
        margin: 0;
    } */

    #promote img.backgroundimg {
        display: none; 
    }

    #promotelogo {
        display: none;
    }

    #travelpartner ul {
        justify-content: space-evenly;
        flex-direction: column;
    }

    #travelpartner ul li {
        margin-bottom: 4rem;
    }

    #travelpartner ul li a.mainroom > img.bookingLogo {
        width: 10rem;
    }

    #travelpartner ul li a.mainroom > img {
        width: 2rem;
    }

    img.qrcode {
        width: 4rem;
    }

    #airBnBQRcode, #agodaQRcode, #bookingDotComQRcode {
        flex-direction: column;
        align-items: center
    }

    #destination {
        grid-column: 1 / span 4;
        text-align: center;
    }

    section#amenities li.feature img {
        width: 25.4rem;
        height: inherit;
    }

    section#amenities img {
        height: 3rem;
    }

    section#reviews ul {
        height: 140rem;
   }

    section#destination ul {
        grid-column: 1 / span 5;
        justify-content: center;
    }

    section#destination ul li address dl dd {
        width: 24rem;
    }

    section#destination ul li address dl dd iframe {
        width: 24rem;
        height: 13.6rem;
    }

    footer#aboutus header p {
        /* text-align: center; */
        margin-bottom: 2rem;
    }

    footer#aboutus address dl {
        margin: 0 0.5rem;
    }
}