#termsandcondition {
    grid-column: 2 / span 2;
    margin: 4rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#termsandcondition header {
    grid-column: 2;
}

#termsandcondition article {
    grid-column: 2;
}